/* Barre violette */
.barre-violette {
  background-color: #7F7CAF;
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
}

/* Style pour le texte Facture */
.barre-violette h1 {
  color: white;
  margin: 0;
  padding: 0 20px;
  font-family: "Norwester", sans-serif;
}

/* Style pour le texte Facture en blanc */
.barre-violette .facture {
  color: white;
  font-family: "Norwester", sans-serif;
}

/* Style pour le titre CLIENT */
.clients {
  margin: 0;
  font-size: 2em;
}

.tableau-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 2rem;
  margin-top: 70px;
}

.mini-tableau {
  padding: 1rem;
  margin: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  height: 200px; 
 
}


@media only screen and (max-width: 768px) {
  .mini-tableau {
    height: auto;
    margin-bottom: 20px;
    flex-basis: calc(50% - 20px);
  }
}

@media only screen and (max-width: 480px) {
  .mini-tableau {
    margin: 0;
    border: none;
    box-shadow: none;
  
  }
}

/* Style pour le titre de chaque colonne */
th {
  text-align: left;
}

/* Style pour les boutons Modifier et Supprimer */
button {
  padding: 5px 10px;
  background-color: #7F7CAF;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #483D8B;
}

/* Style pour les boutons Modifier et Supprimer dans les mini-tableaux */
button.modifier {
  margin-right: 10px;
}

button.supprimer {
  margin-right: 5px;
}

.boutons-modifier-supprimer {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin: 10px;
  transform: translateX(-50%);
}

@media only screen and (max-width: 480px) {
  .boutons-modifier-supprimer {
    position: relative;
    bottom: auto;
    right: auto;
    display: flex;
    justify-content: center;
  }
  .boutons-modifier-supprimer button {
    margin-right: 10px;
  }


 

  
  
}

td {
  max-width: 200px;
  word-wrap: break-word;
}

.mini-tableau table td span {
  cursor: pointer;
  color: #000000;
}

.mini-tableau table td input {
  width: 100%;
  border: 1px solid black;
  background-color: #ffffff;
  color: #000000;
  padding: 2px;
}

.mini-tableau button {
  background-color: #7F7CAF;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 5px;
}

.mini-tableau button:hover {
  background-color: #7F7CAF;
}

.edit-form {
  max-width: 300px; /* La même largeur que le mini-tableau */
}

.edit-buttons button:first-child {
  margin-right: 10px; /* Ajout de marge à droite du bouton "Sauvegarder" */
}
/* .mini-tableau {
  width: 33.33%;
} */



