<header class="barre-violette">
  <h1 class="clients">CLIENTS</h1>

  <button (click)="showForm()">Ajouter client</button>
  <div *ngIf="showAddForm">
    <form [formGroup]="clientForm"  (ngSubmit)="addClient()">
      <label for="nom">Nom :</label>
      <input type="text" id="name" formControlName="nom"  name="name" style="margin-top: 10px;" />
      <label for="prenom">Prénom :</label>
      <input type="text" id="username" formControlName="prenom" name="username" style="margin-top: 10px;" />
      <button type="submit">Ajouter</button>
    </form>
  </div>
</header>

<div class="tableau-container">
  <div *ngFor="let client of clients; let i = index">
    <ng-container *ngIf="i < 9">
      <div class="mini-tableau col-4">
        <table>
          <thead>
            <tr>
              <th>Nom</th>
              <th>Prénom</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="!client.editMode">
              <tr>
                <td>{{ client.nom }}</td>
                <td>{{ client.prenom }}</td>
                <!-- <td><button class="modifier" (click)="activateEditMode(client)">Modifier</button></td> -->
                <td><button class="modifier" (click)="client.editMode = true" *ngIf="!client.editMode">Modifier</button></td>
                <td><button class="supprimer" (click)="deleteClient(client)" *ngIf="!client.editMode">Supprimer</button></td>
              </tr>
            </ng-container>
            <div *ngIf="client.editMode">
                <form [formGroup]="clientForm" (ngSubmit)="updateClient(client.id)">
              <tr>
                <td><input type="text" formControlName="nom" /></td>
                <td><input type="text" formControlName="prenom"/></td>
                <td></td>
                <td></td>
              </tr>
            <button class="sauvegarder" type="s
                        ">Sauvegarder</button>
            
            <button class="annuler" (click)="client.editMode = false">Annuler</button>
              </form>          
            </div>
          </tbody>
        </table>   
      </div>
    </ng-container>
  </div>
  <div style="clear:both;"></div>
</div>
