<header class="barre-violette">
  <h1 class="clients">CLIENT</h1>
</header>

<div class="tableau-container">
  <div class="mini-tableau">
    <table>
      <thead>
        <tr>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Email</th>
          <th>Site</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ clients[0].name }}</td>
          <td>{{ clients[0].username }}</td>
          <td>{{ clients[0].email }}</td>
          <td>{{ clients[0].website }}</td>
          <td><button class="modifier">Modifier</button></td>
          <td><button class="supprimer">Supprimer</button></td>
        </tr>
      </tbody>
    </table>
    <div class="boutons">
      <button class="modifier">Modifier</button>
      <button class="supprimer">Supprimer</button>
    </div>
  </div>

  <div class="mini-tableau">
    <table>
      <thead>
        <tr>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Email</th>
          <th>Site</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ clients[2].name }}</td>
          <td>{{ clients[2].username }}</td>
          <td>{{ clients[2].email }}</td>
          <td>{{ clients[2].website }}</td>
          <td><button class="modifier">Modifier</button></td>
          <td><button class="supprimer">Supprimer</button></td>
        </tr>
      </tbody>
    </table>
    <div class="boutons">
      <button class="modifier">Modifier</button>
      <button class="supprimer">Supprimer</button>
    </div>
  </div>

  <div class="mini-tableau">
    <table>
      <thead>
        <tr>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Email</th>
          <th>Site</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ clients[1].name }}</td>
          <td>{{ clients[1].username }}</td>
          <td>{{ clients[1].email }}</td>
          <td>{{ clients[1].website }}</td>
          <td><button class="modifier">Modifier</button></td>
          <td><button class="supprimer">Supprimer</button></td>
        </tr>
      </tbody>
    </table>
    <div class="boutons">
      <button class="modifier">Modifier</button>
      <button class="supprimer">Supprimer</button>
    </div>
  </div>
</div>

<div class="tableau-container">
  <div class="mini-tableau">
    <table>
      <thead>
        <tr>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Email</th>
          <th>Site</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ clients[0].name }}</td>
          <td>{{ clients[0].username }}</td>
          <td>{{ clients[0].email }}</td>
          <td>{{ clients[0].website }}</td>
          <td><button class="modifier">Modifier</button></td>
          <td><button class="supprimer">Supprimer</button></td>
        </tr>
      </tbody>
    </table>
    <div class="boutons">
      <button class="modifier">Modifier</button>
      <button class="supprimer">Supprimer</button>
    </div>
  </div>

  <div class="mini-tableau">
    <table>
      <thead>
        <tr>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Email</th>
          <th>Site</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ clients[2].name }}</td>
          <td>{{ clients[2].username }}</td>
          <td>{{ clients[2].email }}</td>
          <td>{{ clients[2].website }}</td>
          <td><button class="modifier">Modifier</button></td>
          <td><button class="supprimer">Supprimer</button></td>
        </tr>
      </tbody>
    </table>
    <div class="boutons">
      <button class="modifier">Modifier</button>
      <button class="supprimer">Supprimer</button>
    </div>
  </div>

  <div class="mini-tableau">
    <table>
      <thead>
        <tr>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Email</th>
          <th>Site</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ clients[1].name }}</td>
          <td>{{ clients[1].username }}</td>
          <td>{{ clients[1].email }}</td>
          <td>{{ clients[1].website }}</td>
          <td><button class="modifier">Modifier</button></td>
          <td><button class="supprimer">Supprimer</button></td>
        </tr>
      </tbody>
    </table>
    <div class="boutons">
      <button class="modifier">Modifier</button>
      <button class="supprimer">Supprimer</button>
    </div>
  </div>
</div>


<div class="tableau-container">
  <div class="mini-tableau">
    <table>
      <thead>
        <tr>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Email</th>
          <th>Site</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ clients[0].name }}</td>
          <td>{{ clients[0].username }}</td>
          <td>{{ clients[0].email }}</td>
          <td>{{ clients[0].website }}</td>
          <td><button class="modifier">Modifier</button></td>
          <td><button class="supprimer">Supprimer</button></td>
        </tr>
      </tbody>
    </table>
    <div class="boutons">
      <button class="modifier">Modifier</button>
      <button class="supprimer">Supprimer</button>
    </div>
  </div>

  <div class="mini-tableau">
    <table>
      <thead>
        <tr>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Email</th>
          <th>Site</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ clients[2].name }}</td>
          <td>{{ clients[2].username }}</td>
          <td>{{ clients[2].email }}</td>
          <td>{{ clients[2].website }}</td>
          <td><button class="modifier">Modifier</button></td>
          <td><button class="supprimer">Supprimer</button></td>
        </tr>
      </tbody>
    </table>
    <div class="boutons">
      <button class="modifier">Modifier</button>
      <button class="supprimer">Supprimer</button>
    </div>
  </div>

  <div class="mini-tableau">
    <table>
      <thead>
        <tr>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Email</th>
          <th>Site</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ clients[1].name }}</td>
          <td>{{ clients[1].username }}</td>
          <td>{{ clients[1].email }}</td>
          <td>{{ clients[1].website }}</td>
          <td><button class="modifier">Modifier</button></td>
          <td><button class="supprimer">Supprimer</button></td>
        </tr>
      </tbody>
    </table>
    <div class="boutons">
      <button class="modifier">Modifier</button>
      <button class="supprimer">Supprimer</button>
    </div>
  </div>
</div>

