

<header class="barre-violette">
  <h1>Parametre</h1>
</header>


<div class="container">
  <h2></h2>
  
  <!-- Tableau de factures -->
  <div class="table-container">
    <h3 class="table-title">Modifier les modèles de factures</h3>
    <table class="table-factures">
      <thead>
        <tr>
          <th>Numéro</th>
          <th>Date</th>
          <th>Client</th>
          <th>Montant</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="table-cell">FA0001</td>
          <td class="table-cell">01/01/2022</td>
          <td class="table-cell">Client A</td>
          <td class="table-cell">1000€</td>
          <td class="table-cell">
            <button class="btn-modifier">Modifier</button>
            <button class="btn-valider">Valider</button>
          </td>
        </tr>
        <tr>
          <td class="table-cell">FA0002</td>
          <td class="table-cell">01/02/2022</td>
          <td class="table-cell">Client B</td>
          <td class="table-cell">2000€</td>
          <td class="table-cell">
            <button class="btn-modifier">Modifier</button>
          </td>
        </tr>




        
        <!-- Ajouter plus de factures ici -->
      </tbody>
    </table>
  </div>



  
    <!-- Tableau de factures -->
    <div class="table-container">
      <h3 class="table-title">Modifier les modèles de devis</h3>
      <table class="table-factures">
        <thead>
          <tr>
            <th>Numéro</th>
            <th>Date</th>
            <th>Client</th>
            <th>Montant</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="table-cell">FA0001</td>
            <td class="table-cell">01/01/2022</td>
            <td class="table-cell">Client A</td>
            <td class="table-cell">1000€</td>
            <td class="table-cell">
              <button class="btn-modifier">Modifier</button>
            </td>
          </tr>
          <tr>
            <td class="table-cell">DE0002</td>
            <td class="table-cell">01/02/2022</td>
            <td class="table-cell">Client B</td>
            <td class="table-cell">2000€</td>
            <td class="table-cell">
              <button class="btn-modifier">Modifier</button>
            </td>
          </tr>
          <!-- Ajouter plus de factures ici -->
        </tbody>
      </table>
    </div>