

<div class="barre-laterale">
  <div class="logo-container">
    <img src="../assets/Logo.jpg" alt="Mon logo" class="logo">
</div>
  <nav>
    <ul>
      <li><a routerLink="/devis" routerLinkActive="active" class="btn-violet">Devis</a></li>
      <li><a routerLink="/factures" routerLinkActive="active" class="btn-violet">Factures</a></li>
      <li><a routerLink="/utilisateurs" routerLinkActive="active" class="btn-violet">Clients</a></li>
      <li><a routerLink="/entreprises" routerLinkActive="active" class="btn-violet">Entreprises</a></li>
      <li><a routerLink="/parametres" routerLinkActive="active" class="btn-violet">Paramètres</a></li>
    </ul>
  </nav>
</div>




<main>
  <router-outlet></router-outlet>

</main>
