/* Barre latérale */
.barre-laterale {
  background-color: #E7E7F4;
  padding: 20px;
  height: 100%;
  width: 220px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Menu */
nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  margin-bottom: 40px;
}

/* Boutons */
.btn-violet {
  background-color: #7F7CAF;
  color: white;
  border: none;
  padding: 20px;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  width: 100%;
  box-sizing: border-box;
}

.btn-violet:hover {
  opacity: 0.8;
  cursor: pointer;
}

/* Positionnement et espacement des boutons */
nav li:first-child {
  margin-top: 50px;
}

nav li:not(:first-child) {
  margin-top: 40px;
}

/* Main */
main {
  margin-left: 240px;
  padding: 20px;
}

/* Styles pour la bande verticale violette */
.bande-verticale {
  position: fixed;
  top: 0;
  left: 0;
  width: 10px;
  height: calc(100% - 70px);
  background-color: #7F7CAF;
}

/* Centrer le header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: #E7E7F4;
  position: fixed;
  top: 0;
  left: 220px;
  right: 0;
  z-index: 1;
}

/* Centrer le texte du header */
h1 {
  text-align: center;
  font-family: "Norwester", sans-serif;
}

/* Responsive design pour les petits écrans */
@media only screen and (max-width: 767px) {

  /* Barre latérale */
  .barre-laterale {
    width: 100%;
    padding: 20px 10px; /* Réduire l'espacement intérieur */
    height: auto; /* Supprimer la hauteur fixe */
    position: relative; /* Modifier la position pour s'adapter au flux */
  }

  /* Menu */
  nav {
    height: auto; /* Supprimer la hauteur fixe */
    padding-bottom: 20px; /* Ajouter un peu d'espace en bas */
  }

  nav li {
    margin-bottom: 20px; /* Réduire l'espacement entre les éléments */
  }

  /* Positionnement et espacement des boutons */
  nav li:first-child {
    margin-top: 20px; /* Réduire la marge supérieure */
  }

  nav li:not(:first-child) {
    margin-top: 10px; /* Réduire la marge supérieure */
  }

  /* Main */
  main {
    margin: 0; /* Supprimer la marge à gauche */
  }

 
}